html body {
    min-width: 490px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: rgb(42, 39, 39);
    font-family: arial;
    background: #F9F4F4;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}